#wrapper {
    overflow-x: hidden;
    min-height: 100vh;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: 0;
    transition: margin .25s ease-out;
    width: 260px;
    background-color: #1a1d20 !important; 
}

#sidebar-wrapper .sidebar-heading {
    padding: 1.5rem;
    font-size: 1.25rem;
    color: white;
    background-color: #121416;
}

#page-content-wrapper {
    width: 100%;
    background-color: #f8f9fa; 
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -260px;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -260px;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}
